html{
    scroll-behavior: auto;
}

body{
    margin: 0px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Fonts ------------------------- */


@font-face  {
    font-family: 'font2';
    src: url('Restand-ZV63K.ttf');
}

@font-face  {
    font-family: 'font3';
    src: url('FulboArgenta-7B9G4.ttf');
}

@font-face  {
    font-family: 'font4';
    src: url('Oswald-Medium.ttf');
}

@font-face  {
    font-family: 'font6';
    src: url('Bebas-Regular.ttf');
}

@font-face  {
    font-family: 'font7';
    src: url('Breaked-nRwa0.ttf');
}

@font-face  {
    font-family: 'font8';
    src: url('HelloGraduationSans-d9enl.ttf');
}

@font-face  {
    font-family: 'font9';
    src: url('StPlatoSansDisplayDemoHeavy-gx6q1.ttf');
}

@font-face  {
    font-family: 'font10';
    src: url('Rampirodemo-517JG.ttf');
}

@font-face  {
    font-family: 'font11';
    src: url('HappyLucky-gxnZP.ttf');
}

/* Header ---------------------- */

header{
    height: 70px;
    width: 100%;
    display :flex;
    position:fixed;
    top:0;
    background-image: url('header.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.97;
    /* background:linear-gradient(90deg,#ffffff);
    background-size: 200% 200%;
    animation: headan linear forwards;
    animation-timeline: scroll(); */
}

@keyframes head {
    0%{background-position: 0% 50%;}
    25%{background-position: 50% 100%;}
    50%{background-position: 100% 100%;}
    75%{background-position: 50% 100%;}
    100%{background-position: 0% 50%;}
}

.scroll{
    background-color: #ff0088;
    width: 100%;
    height: 2px;
    position: fixed;
    animation: lineani linear forwards;
    animation-timeline:scroll();
    transform-origin:left;
}

@keyframes lineani {
    from{transform: scaleX(0);}
    to{transform: scaleX(1);}
}


.hd{
    height: 60px;
    width: 100%;
    display: flex;
    font-family: font4;
    margin-left: -2px;
}

.hd h4{
    font-size: 14px;
    margin-top: 23px;
}


.lgo{
    height: 35px;
    width: 35px;
    margin-top: 15px;
    animation: lgoani linear forwards;
    animation-timeline: scroll();
    padding-left: 0px;
    padding: 0px;
    margin-left: 50px;
    margin-right: 7px;
    transform: scale(.8);
}

/* @keyframes lgoani {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(3600deg);
    }
} */


.logohoder{
    height: ;
    position: absolute;
}


.ckbl{
    margin-right: 29px;
    margin-top: 22px;
    display: none;
}

.ckbl div{
    height: 5px;
    width: 33px;
    margin-top: 4px;
    border-radius: 2px;
    transition-duration: 1s;
}


.stl{
    background: linear-gradient(45deg,#ffc700,#b9ff00);
    animation: rdlani linear forwards;
    animation-timeline: scroll();
    transform-origin: right;
}

.ndl{
    background: Linear-gradient(45deg,#00ffd5,#0081ff);
    animation: nblani linear forwards;
    animation-timeline: scroll();
}


@keyframes nblani {
    from{
        transform: rotate(0deg);
    }
    
    to{
        transform: rotate(540deg);
    }
}


.rdl{
    background: linear-gradient(45deg,#b900ff,#ff0073);
    animation: rdlani linear forwards;
    animation-timeline: scroll();
    transform-origin: left;
}


@keyframes rdlani {
    0%{transform: scaleX(1);}
    10%{transform: scaleX(1.3);}
    20%{transform: scaleX(1);}
    30%{transform: scaleX(1.3);}    
    40%{transform: scaleX(1);}
    50%{transform: scaleX(1.3);}
    60%{transform: scaleX(1);}
    70%{transform: scaleX(1);}
    80%{transform: scaleX(1);}
    90%{transform: scaleX(1.3);}
    100%{transform: scaleX(1);}
}


.ckbl:hover .stl{
    
}

.ckbl:hover .ndl{
    transform: rotate(90deg);
}

.ckbl:hover .rdl{
    
}


img{
    height: 40px;
    width: auto;
    padding: 6px;
    padding-left:50px;
    margin-top:5px;
}

.ckbt{
    height: 40px;
    width: auto;
    margin-top: 5px;
    margin-left: 10px;
    float: right;
    display: none;
}

#cheak{
    display: none;
}
#nev{
    display: flex;
    flex-direction: right;
    width: 554px;     /* V2 */
    list-style:none;
    color: black;
    text-decoration:none;
    display:flex;
    padding-left: 0px;
    margin-top:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(45deg, 
#ff5e00, #ff009d, #8f00ff, #0003ff);
    background-size: 200% 200%;
    margin-right: 120px;
    animation:nevi 5s ease infinite;
}


@keyframes nevi{
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

#nev a{
    font-size:15px;
    padding-right:30px;
    padding-left:30px;
    padding-bottom: 6px;
    padding-top: 7px;
    margin-left: 0px;
    margin-right: 2px;
    text-decoration:none;
    color: #000000;
    background-color: white;
    transition: 0.5s ease;
    border: none;
}

#nev li:nth-child(1){    /* V2 */
    margin-left: -2px;
}

#nev:nth-child(3){
    padding-right: 0px;
    margin-right: -2px;
}

#nev li:nth-child(5) a{
    background-color: rgba(0,0,0,0);
    color: white;
}

#nev a:hover{
    height: auto;
    width: 30px;
    background-color: rgba(0,0,0, 0.0);
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    color: #ffffff;
}

#nev a:active{
    background-color: rgba(0,0,0, 0.0);
}

/* Header End*/


/* Section 1 */

.sec1{
    height: 480px;
    width: 100%;
    margin-top: 0px;
    text-align: center;
    background-color: #f5f5f5;
    padding-top: 35px;
    justify-content: center;
    align-content: center;
}

.sec1 h2{
    height: 33px;
    width: 200px;
    font-size: 26px;
    font-family: font2;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 10px;
}

#bee{
    text-align: center;
    align-items: center;
    background: transparent;
    height: 140px;
    width: auto;
    margin-top: 20px;
    z-index: 1;
}

.sec1 h2::before{
    content: '';
    height: 3px;
    width: 163px;
    position: absolute;
    margin-top: 30px;
    border-radius: 15px;
    transform: scale(0, 1);
    transition-duration: 0.3s;
    background: linear-gradient(90deg,#ff1f00,#ffdc00,#a4ff00,#00ff42,#00ffff);
    background-size: 200% 200%;
    animation: ammb 3s linear infinite;
}


@keyframes ammb {
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.sec1 h2:hover::before{
    transform: scale(1, 1);
}

.sec1 .pp{
    color: #353535;
    font-size: 14px;
    font-family: font10;
    font-weight: 500;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 10px;
}

.sec1 p a{
    text-decoration: none;
    color: #ff00f1;
    font-weight: 500;
    margin-top: px;
}


.sec1 div{
    text-align: center;
    height: 35px;
    width: 85px;
    margin: auto;
    background-size: 200% 200%;
    margin-top: 50px;
    border-radius: 4px;
    transition-duration: 1s;
    background: linear-gradient(90deg, var(--c1, #ff9d00), var(--c2, #ffeabf) 51%, var(--c1, #ffdc00)) var(--x2, 0)/ 200%;
    margin-top: 60px;
}

.sec1 div:hover { --x2: 100%; 
    box-shadow:0px 4px 30px #fffc6a;
    

}

}

@keyframes telp {
    
}


.sec1 div a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: font4;
}

.sec1 div p{
    margin-top: 100px;
    margin:0 auto;
    padding-top: 4.5px;
}


/* Section 2 */

.sec2{
    text-align: center;
    margin-bottom: 80px;
    
}


.sec2-2 input,textarea{
    height: 25px;
    width: 75%;
    background-color: #3b3b3b;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    transition-duration:.5s;
    box-shadow: 0px 2px 10px #000000;
    color: white;
}

/* .sec2-2 input:hover{
    box-shadow: 0px 2px 10px #000000;
} */

.sec2 input::placeholder{
    color: yellow;
    font-weight: 350;
    text-align: center;
    overflow: scroll;
}


.sec2 input:autofill{
    
}

.sec2 textarea::placeholder{
    color: yellow;
    font-weight: 350;
    text-align: center;
    overflow: scroll;
    font-family: arial;
}

.sec2-2 textarea{
    height: 70px;
}

.sec2-2 input:nth-child(5){
    background-color:black ;
    color: #ff00b2;
    font-weight: 500;
}

.scroll, .rdl, .ndl {
    will-change: transform;
}

.bac{
    height: 450px;
    width: 87%;
    margin: 0 auto;
    background-image: url('bgb.jpeg');
    background-size: 100%;
    border-radius: 15px;
    background-attachment: fixed;
}

.back{
    /* background: conic-gradient(#ff340071,#fff10071,#26ff0071,#00ffd571,#1100ff71,#ff00c771,#ff0a0071,#ff340071); */
    height: 450px;
    width: 100%;
    background: linear-gradient(135deg,#00abff84,#ff340084,#ff003484); /* linear-gradient(45deg,#ff730080,#ffdc0080,#7aff0080,#00ff5780,#00ffc080,#00ffff80); /* #f800ff7b,#fff1007b */ */
    margin: 0 auto;
    background-size: 200% 200%;
    animation: b 10s ease infinite;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    transition-duration: 1s;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 20px #484848;
}

.back:hover{
    backdrop-filter: ;
}

@keyframes bgn {
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


.back h2{
    font-family: font2;
    font-size: 19px;
    margin-top: 50px;
    padding-top: 60px;

}

.back h4{
    font-weight: 350;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.sec2-2{
    display: block;
    margin-top: 50px;
}



/* footer start */


.footr{
    background: linear-gradient(270deg,#000000cd,#474747a5);
}

.ftrsect{
    /* background-image: url('Others/hd.jpg');
    background-repeat: no-repeat;
    background-size: 100%; */
    background-image: url('ftrnew.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

.fts1{
    display: flex;
    height: 220px;
    padding: 0px;
    margin-bottom: 0px;
}

.ft11{
    height: 270px;
    width: 95%;
    margin-left: 17px;
}

.ft111{
    height: 50px;
    width: 90%;
    margin-bottom: 0px;
    display: flex;
    margin-top: 50px;
    flex-direction: right;
    padding: 0px;
}

.ft111m{
    height: 35px;
    width: 35px;
    margin-left: 40px;
    padding: 0px;
    margin-right: 10px;
    margin-top: 10px;
    transition-duration: 0.2s;
}

.ft111m:hover{
    opacity: 0.8;
    transform: scale(1.07);
}

.ft111n{
    font-size: 18px;
    font-family: font4;
    text-shadow: 0px 0px 20px #ffffff;
    color: black;
    transition-duration: 0.3s;
}

.ft111n:hover{
    color: white;
    text-shadow: none;
}

.ft112{
    color: white;
    height: 130px;
    width: 80%;
    margin-top: 0px;
    font-family: font9;
    font-size: 7px;
    margin-left: 40px;
    padding: 0px;
}

.ft112 h2{
    transition-duration: 0.2s;
}

.ft112 h2:hover{
    color: #b8b8b8;
}

.ft12{
    height: 156.5px;
    width: 20%;
    text-align: left;
    display: inline-flex;
    margin-top: 63px;
    position: relative;
    float: left;
}


.ft12 h5{
    font-size: 0.65rem;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-family: font6;
    margin: 0px;
}


.ft12 h6{
    font-family: font4;
    font-size: 1.05rem;
    margin: 0px;
    line-height: 20.1px;
    color: #a9a9a9;
    font-weight: 500;
    margin-left: 5px;
}



/* section 2 */

.fts2{
    margin-top: -170px;
}

.ft21{
    text-align: center;
    font-family: font8;
    font-size: 15px;
    font-weight: 500;
    padding: 0px;
    margin-bottom: 0px;
}

.ft21 h1{
    padding: 0px;
    margin: auto;
    color: #cacaca;
    transition-duration: 0.2s;
}

.ft21 h1:hover{
    color: #eaeaea;
    text-shadow: 0px 0px 20px #fff180;
}


.ft22{
    height: 150px;
    width: 170px;
    display: flex;
    margin: 0 auto;
    margin-top: 0px;
    padding: 0px;
}

.ft22m{
    margin: 0 auto;
}

.ft2{
    list-style: none;
    font-family: font7;
    text-decoration: none;
    text-align: right;
    margin-left: 0px;
    font-size: 16px;
    margin-top: 35px;
    padding: 0px;
}

.ft2 a{
    text-decoration: none;
    --angof: 45deg;
}

.ft2 li, #ft22o1 a{
    color: rgba(0,0,0,0.0);
    transition-duration: 0.2s;
    background-clip: text;
    background-image: linear-gradient(var(--angof), #00ffab,#6ae0ff);
}

.ft2 a:hover{
    color: #67cead;
}

.ft22n{
    height: 150px;
    width: 50px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    font-family: font9;
    justify-content: center;

}


.ft22n{
    
}


.ft22n1{
    width: 10px;
    color: #666666;
    font-size: 13px;
    font-family: font11;
    font-weight: 450;
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin: 0px 0px;
}

.ft22n2{
    color: #666666;
    font-size: 9px;
    font-family: font11;
    font-weight: 450;
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin: 0px 0px;
    position: relative;
}

.ft22n2::before, .ft22n2::after{
    content: '';
    height: 40px;
    width: 2px;
    background-color: #e0e0e0;
    position: absolute;
    right: 40%;
    border-radius: 5px;
}

.ft22n2::before{
    top: 6px;
}

.ft22n2::after{
    bottom: 6px;
}


.ft22n3{
    width:10px;
    color: #666666;
    font-size: 10.8px;
    font-family: font11;
    font-weight: 450;
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin: 0px;
    margin-left: -3px;
}


.ft22o{
    
}

#ft22o1{
    list-style: none;
    font-family: font7;
    text-decoration: none;
    text-align: left;
    margin-right: 0px;
    font-size: 16px;
    margin-top: 35px;
    padding: 0px;
}

#ft22o1 a{
    text-decoration: none;
    --angof: 225deg;
}

#ft22o1 a:hover{
    color: #67cead;
}

.ft23{
    display: flex;
    width: 100px;
    margin: 0 auto;
    align-items: center;
}

.ft23 img{
    height: 14px;
    width: auto;
    padding: 3px;
    margin: 0 auto;
    margin-top: 20px;
    
}

/* section 3 */

.fts3{

}

.ft31{
    height: 30px;
    width: 226px;
    margin: 0 auto;
    transform: scale(0.75);
    margin-top: 10px;
}

.eld{
    height: 25px;
    width: 25px;
    padding-left:5px;
    margin-top:0px;
    text-align:center;
    margin-left:px;
    margin: 0 auto;
    background-color: #d77300;
    border: none;
    border-radius: 3px;
}

.ft31 input{
    height: 26px;
    width: 190px;
    margin-top:0px;
    background-color: #353535;
    animation:anima 5s ease-in infinite;
    border: none;
    transition-duration:1s;
    border-radius: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-size: 200% 200%;
    margin: 0 auto;
    background-color: #3a3a3a;
    box-shadow: 0px 0px 25px black;
   } 
@keyframes anma{
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.ft31 input::placeholder{
    font-family: font6;
    color: #ffc700;
    text-align: center;
}

.ft32{
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.ft32 h5{
    font-size: 10px;
}


/* Universal ----------- */

input, textarea{
    caret-color: red;
    animation: inpt 4s linear infinite;
    transition-duration: 0.4s;
}

@keyframes ipt {
    0% { caret-color: red; }
    20% { caret-color: skyblue; }
    40% { caret-color: yellow; }
    60% { caret-color: green; }
    80% { caret-color: magenta; }
}

input:focus, textarea:focus{
    outline: none;
}

input:focus::placeholder, textarea:focus::placeholder{
    color: skyblue;
    transition-duration: 0.4s;
}


h6::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, span::selection, p::selection{
    color: orangered;
    background: linear-gradient(90deg, red, blue);
}


@media(width:1140px){
    /* section 2 */

.fts2{
    margin-top: 35px;
}

.ft2{
    margin-left: 129px;
}

#ft22o1{
    margin-right: 269px;
}


.ft23{
    display: flex;
    width: 80px;
}

.ft23 img{
    height: 10px;
    width: auto;
}

}


@media (max-width:768px){
    
   header{
       position: fixed;
       z-index: 100;
   }
    
    
   .fb-1{
       
   }
    
   #cont-fm{
    margin: 0 auto;
    height: 490px;
    width: 90%;
   }
   
   #cont-fm input{
       margin-left: 25px;
   }
   
   #msg{
       margin-left: 25px;
   }
   
   #cont-fm button{
       margin-left: 25px;
   }
   
   #cont-fm button:hover{
       margin-left: 25px;
   }

    
    
    .ckbt{
    height: 35px;
    width: auto;
    margin-top: 5px;
    margin-right:28px;
    float: right;
    display: block;
    }
    

    #cheak{
    display: none;
    }
    
    
    
    .ckbl{
       display: block;
   }
    
   .lgo{
       transform: scale();
       margin-left: 35px;
   }
   
  #nev{
    display:block;
    width: 250px;
    height: 330px; /* V2 */
    list-style:none;
    text-decoration:none;
    padding-left: 0px;
    margin-top:-45px;
    padding-top: 40px; /* V2 */
    padding-bottom: 5px;
    text-align: right;
    align-items: right;
    background: linear-gradient(45deg, #ff8800, #fff100, #b9ff00, #50ff00);
    transition-duration: 0.7s;
    margin-left: -690px;
    border-bottom-right-radius: 15px;
    opacity: 0.75;
    background-size: 200% 200%;
    animation: nevi 3s ease-in-out infinite;
  }
  
  #cheak:checked ~ #nev{
        display: block;
        margin-left: -385px;
        transition-duration: 0.7s;
    }
    
    
    @keyframes nevi{
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


  
 #nev a{
     background-color: rgba(0,0,0,0.0);
     text-align: right;
     height: 50px;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 130px;
     padding-right: 30px;
     width: 200px;
     color: black;
     line-height: 60px;
     margin-top: 150px;
     margin-right: 3px;
     font-family: font3;
 }
    #nev li:nth-child(1){
        padding-top: 50px;
        background-color: rgba(0,0,0,0.0);
        margin-top: -50px;
        margin-bottom: 1.5px;
        margin-right: 3px;
    }
    
    #nev li:nth-child(5){  /* V2 */
        padding-bottom: 59px;
        background-color: rgba(0,0,0,0.0);
        margin-top: 1.5px;
        margin-bottom: 1.5px;
        border-bottom-right-radius: 15px;
        margin-right: 3px;
    }
    
#nev li:nth-child(5) a{
    color: #ff15e7;
}
    

/* section 1 */

.ft11{
    width: 70%;
}

.ft12 img{
    margin-left: 20px;
}


/* section 2 */

.fts2{
    margin-top: 35px;
}


.ft23{
    display: flex;
    width: 80px;
}

.ft23 img{
    height: 10px;
    width: auto;
}

/* section 3 */

.ft31{
    height: 30px;
    width: 226px;
}

footer{
    background: linear-gradient(270deg,#000000cd,#474747a5);
}

.ftrsect{
    background-image: url('hd.jpg');
    background-repeat: no-repeat;
    background-size: 170%;
    background-position: center bottom;
    background-attachment: fixed;
}

}

